<!--CustomElement:node-->
<li v-if="node.IsVisible" style="margin-right: 1em; display: inline;">
    <div :class="node.Class" style="padding-left: .5em; display: inline-block;">
        <span v-if="node.HasChildren" class="tree-expand" :class="node.ExpandIcon" style="cursor: pointer; width: 1em;"
              @click="$emit('toggle', node.Id)"></span>
        <span :class="node.Icon" @click="$emit('toggle', node.Id)"></span>
        <span style="cursor: pointer;" @click.exact="$emit('select', node.Id)" @dblclick.exact="$emit('toggle', node.Id)">&nbsp;{{node.Name}}</span>
    </div>
    <ul style="list-style-type: none;">
        <tree-node v-for="child of node.Children" :node="child" :key="child.Id"
                   @select="$emit('select', $event)" @toggle="$emit('toggle', $event)">
        </tree-node>
    </ul>
</li>
